In [1]:
import pandas as pd
import datetime

In [2]:
# We find todays day.
todaysDay = datetime.datetime.today()

# we make a list of days 
datetime_list = [todaysDay - datetime.timedelta(days=x) for x in range(0,20)]

# we feed that list into our DF.
df = pd.DataFrame(datetime_list)
df.columns  = ['Day']

In [3]:
# now based on our data in Day column we create Day_of_week & Day_Name column 
# using Day_of_week we have converted that ordinal categorical value to numerical value with some ranks
# this is human readable and our machine will also be able to perform operation on it easily

df['Day_of_week'] = df['Day'].dt.weekday
df['Day_Name'] = df['Day'].dt.day_name()

In [4]:
df.head(10)

                         Day  Day_of_week   Day_Name
0 2021-02-09 18:33:16.649624            1    Tuesday
1 2021-02-08 18:33:16.649624            0     Monday
2 2021-02-07 18:33:16.649624            6     Sunday
3 2021-02-06 18:33:16.649624            5   Saturday
4 2021-02-05 18:33:16.649624            4     Friday
5 2021-02-04 18:33:16.649624            3   Thursday
6 2021-02-03 18:33:16.649624            2  Wednesday
7 2021-02-02 18:33:16.649624            1    Tuesday
8 2021-02-01 18:33:16.649624            0     Monday
9 2021-01-31 18:33:16.649624            6     Sunday