In [1]:
import pandas as pd
import numpy as np

In [2]:
# we import our dataset having categorical feature.
df = pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])

In [12]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [14]:
df.shape

(4209, 2)

In [16]:
# we fine the unique value counts in our categorical feature.
df['X1'].value_counts()

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
f      23
y      23
j      22
n      19
k      17
p       9
g       6
q       3
ab      3
d       3
Name: X1, dtype: int64

In [15]:
# if we apply get_dummies in our dataset as it is then we see that our dimensoions increrses significantly.
pd.get_dummies(df).shape

(4209, 71)

In [18]:
# insted of using get_dummies we use Count or Frequency Encoding
# 1) first we find the frequency of the unique values in our categorical feature.
# 2) then we replace the frequency of the categorical feature with itself.
# that way we have 

def frequencyEncoding(data,cols):
    for col in cols:
        df_frequency_lable_map = data[col].value_counts().to_dict()
        data[col] = data[col].map(df_frequency_lable_map)

In [20]:
frequencyEncoding(df,['X1','X2'])

       X1    X2
0     408     6
1      31     4
2      52   137
3      31   137
4     408   137
...   ...   ...
4204  598  1659
4205   82    29
4206  408   153
4207  251    81
4208  251   496

[4209 rows x 2 columns]